<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bandtec.com.digitalhealth">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".ReceitaAVisualizarDescricaoActivity"></activity>
        <activity android:name=".ReceitaBVisualizarDescricaoActivity" />
        <activity android:name=".ReceitaCVisualizarDescricaoActivity" />
        <activity android:name=".PerfilPacienteActivity" />
        <activity android:name=".MeuHistoricoPacienteActivity" />
        <activity android:name=".PesquisarPacienteActivity" />
        <activity android:name=".FarmPesquisarPacienteActivity" />
        <activity android:name=".MinhasReceitasPacienteActivity" />
        <activity android:name=".LoginPacienteActivity" />
        <activity android:name=".LoginFarmaceuticoActivity" />
        <activity android:name=".SelecionarPerfilActivity" />
        <activity android:name=".DigitalHealthActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>