<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bandtec.com.digitalhealth">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".SelecionarTipoReceitaMedicoActivity"></activity>
        <activity android:name=".SelecionarReceitaCActivity" />
        <activity android:name=".SelecionarReceitaBActivity" />
        <activity android:name=".SelecionarReceitaAActivity" />
        <activity android:name=".ReceitaCPreencherRespLegalActivity" />
        <activity android:name=".ReceitaCPreencherMedReceitadoActivity" />
        <activity android:name=".ReceitaCPreencherDescricaoActivity" />
        <activity android:name=".ReceitaBPreencherMedReceitadoActivity" />
        <activity android:name=".ReceitaBPreencherRespLegalActivity" />
        <activity android:name=".ReceitaBPreencherDescricaoActivity" />
        <activity android:name=".ReceitaAPreencherDescricaoMedReceitadoActivity" />
        <activity android:name=".ReceitaAPreencherDescricaoRespLegalActivity" />
        <activity android:name=".ReceitaAPreencherDescricaoActivity" />
        <activity android:name=".PesquisarPacienteMedico" />
        <activity android:name=".LoginMedicoActivity" />
        <activity android:name=".ReceitaCVisualizarDescricaoRespLegalActivity" />
        <activity android:name=".ReceitaBVisualizarDescricaoRespLegalActivity" />
        <activity android:name=".ReceitaAVisualizarDescricaoRespLegalActivity" />
        <activity android:name=".PerfilPacienteFarmaceuticoReceitasActivity" />
        <activity android:name=".PerfilPacienteFarmaceuticoEntrarActivity" />
        <activity android:name=".PerfilFarmaceuticoActivity" />
        <activity android:name=".ReceitaAVisualizarDescricaoActivity" />
        <activity android:name=".ReceitaBVisualizarDescricaoActivity" />
        <activity android:name=".ReceitaCVisualizarDescricaoActivity" />
        <activity android:name=".PerfilPacienteActivity" />
        <activity android:name=".MeuHistoricoPacienteActivity" />
        <activity android:name=".PesquisarPacienteActivity" />
        <activity android:name=".FarmPesquisarPacienteActivity" />
        <activity android:name=".MinhasReceitasPacienteActivity" />
        <activity android:name=".LoginPacienteActivity" />
        <activity android:name=".LoginFarmaceuticoActivity" />
        <activity android:name=".SelecionarPerfilActivity" />
        <activity android:name=".DigitalHealthActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>